<% layout('layouts/boilerplate') %>

        <div class="container d-flex justify-content-center">
            <div class="card" style="width: 40rem;">
                <img src="images/C75yVRp.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-text">Welcome to Fútbol Signup</p>
                </div>
                <div class="card-body">
                    <a href="/login" class="card-link">login</a>
                    <a href="/games" class="card-link float-end">view games</a>
                </div>
            </div>


    </div>
